<div>
<h3>
    {{content}}: &nbsp;
</h3>
    <div id="message"></div> &nbsp;
<h3>Parameters provided:</h3>
    <div id="params"></div>
<h3>Documentation </h3>
    <div id="docs"></div>
</div>
<script>
    //Register Action Targets to display source and parameters      
    AP.register({
        //Receive Parameters and Display source from Dialog Open
        "receive-parameters": function ({
            source,
            target,
            context,
            parameters
        }) {
            document.getElementById('message').innerHTML = JSON.stringify(source);
            var textnode = document.createTextNode(JSON.stringify(parameters.param1));
            document.getElementById('params').appendChild(textnode)
            if(source === 'applicationCardButton'){

            }else{}
            document.getElementById('docs').innerHTML = '<a href="https://developer.atlassian.com/cloud/stride/apis/document/nodes/applicationCard/" target="_blank">Link to Application Card Docs</a>';
        },
        //Receive Parameters and Display source from Action Target of Message
        "actionTarget-app-message-action": function ({
            source,
            target,
            context,
            parameters
        }) {
            document.getElementById('message').innerHTML = JSON.stringify(source);
            var textnode = document.createTextNode(JSON.stringify(parameters.param1));
            document.getElementById('params').appendChild(textnode)
            document.getElementById('docs').innerHTML = '<a href="https://developer.atlassian.com/cloud/stride/apis/modules/chat/messageAction/" target="_blank">Link to Message Action Docs</a>';
        },
        //Receive Parameters and Display source from Open Dialog
        "app-action-openDialog": function ({
            source,
            target,
            context,
            parameters
        }) {
            document.getElementById('message').innerHTML = JSON.stringify(source);
            var textnode = document.createTextNode(JSON.stringify(parameters.param1));
            document.getElementById('params').appendChild(textnode);
            document.getElementById('docs').innerHTML = '<a href="https://developer.atlassian.com/cloud/stride/apis/modules/chat/actionTarget/" target="_blank">Link to Action Target Docs</a>';
        },
        //Receive Parameters and Display source from Input Action
        "app-input-action": function ({
            source,
            target,
            context,
            parameters
        }) {
            document.getElementById('message').innerHTML = JSON.stringify(source);
            document.getElementById('params').innerHTML = '';
            document.getElementById('docs').innerHTML = '<a href="https://developer.atlassian.com/cloud/stride/apis/modules/chat/inputAction/" target="_blank">Link to Input Action Docs</a>';
        },
            "app-action-message-action": function ({
            source,
            target,
            context,
            parameters
        }) {
            document.getElementById('message').innerHTML = JSON.stringify(source);
            document.getElementById('params').innerHTML = '';
            document.getElementById('docs').innerHTML = '<a href="https://developer.atlassian.com/cloud/stride/apis/modules/chat/messageAction/" target="_blank">Link to Message Action Docs</a>';
        }
    });
</script>